# SQL exercises

Based on NBA Salary and Statistics 2016-17. Source: https://www.kaggle.com/rikdifos/nba-salary-and-statistics-201617

In [1]:
# %load_ext sql

In [2]:
# %sql sqlite://

In [1]:
import pandas as pd
import sqlite3

Show whole table content.

In [2]:
def get_table(db_name, table):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT * FROM {table}")
    table = c.fetchall()
    conn.commit()
    conn.close()
    return table

In [4]:
# db - nba_salary; table: NBA_season1718_salary, Seasons_Stats
get_table('nba_salary', 'NBA_season1718_salary')[:10]

[(1.0, 'Stephen Curry', 'GSW', 34682550.0),
 (2.0, 'LeBron James', 'CLE', 33285709.0),
 (3.0, 'Paul Millsap', 'DEN', 31269231.0),
 (4.0, 'Gordon Hayward', 'BOS', 29727900.0),
 (5.0, 'Blake Griffin', 'DET', 29512900.0),
 (6.0, 'Kyle Lowry', 'TOR', 28703704.0),
 (7.0, 'Russell Westbrook', 'OKC', 28530608.0),
 (8.0, 'Mike Conley', 'MEM', 28530608.0),
 (9.0, 'James Harden', 'HOU', 28299399.0),
 (10.0, 'DeMar DeRozan', 'TOR', 27739975.0)]

Show columns from the table.

In [5]:
def get_columns(db_name, table):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT * FROM {table} LIMIT 1")
    cols = [x[0] for x in c.description]
    conn.commit()
    conn.close()
    return cols

In [6]:
get_columns('nba_salary', 'NBA_season1718_salary')

['X1', 'Player', 'Tm', 'season17_18']

Show rows based on condition.

In [7]:
def get_team(db_name, table, team):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT * FROM {table} WHERE Tm = ?", (team,))
    table = c.fetchall()
    conn.commit()
    conn.close()
    return table

In [8]:
get_team('nba_salary', 'NBA_season1718_salary', 'BOS')

[(4.0, 'Gordon Hayward', 'BOS', 29727900.0),
 (11.0, 'Al Horford', 'BOS', 27734405.0),
 (48.0, 'Kyrie Irving', 'BOS', 18868625.0),
 (186.0, 'Jayson Tatum', 'BOS', 5645400.0),
 (200.0, 'Marcus Morris', 'BOS', 5000000.0),
 (202.0, 'Greg Monroe', 'BOS', 5000000.0),
 (207.0, 'Jaylen Brown', 'BOS', 4956480.0),
 (212.0, 'Marcus Smart', 'BOS', 4538020.0),
 (218.0, 'Aron Baynes', 'BOS', 4328000.0),
 (308.0, 'Guerschon Yabusele', 'BOS', 2247480.0),
 (333.0, 'Terry Rozier', 'BOS', 1988520.0),
 (373.0, 'Shane Larkin', 'BOS', 1524305.0),
 (444.0, 'Semi Ojeleye', 'BOS', 1291892.0),
 (446.0, 'Abdel Nader', 'BOS', 1167333.0),
 (477.0, 'Daniel Theis', 'BOS', 815615.0),
 (517.0, 'Demetrius Jackson', 'BOS', 92858.0),
 (526.0, 'Jarell Eddie', 'BOS', 83129.0)]

Show rows in ordered structure.

In [9]:
def get_table_oldered_by_salary(db_name, table):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT * FROM {table} ORDER BY season17_18 DESC") # ASC (default)
    ordered_table = c.fetchall()
    conn.commit()
    conn.close()
    return ordered_table

In [10]:
get_table_oldered_by_salary('nba_salary', 'NBA_season1718_salary')[:10]

[(1.0, 'Stephen Curry', 'GSW', 34682550.0),
 (2.0, 'LeBron James', 'CLE', 33285709.0),
 (3.0, 'Paul Millsap', 'DEN', 31269231.0),
 (4.0, 'Gordon Hayward', 'BOS', 29727900.0),
 (5.0, 'Blake Griffin', 'DET', 29512900.0),
 (6.0, 'Kyle Lowry', 'TOR', 28703704.0),
 (7.0, 'Russell Westbrook', 'OKC', 28530608.0),
 (8.0, 'Mike Conley', 'MEM', 28530608.0),
 (9.0, 'James Harden', 'HOU', 28299399.0),
 (10.0, 'DeMar DeRozan', 'TOR', 27739975.0)]

Show rows in ordered structure with limit.

In [11]:
def get_subtable_oldered_by_salary(db_name, table, limit):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT * FROM {table} ORDER BY season17_18 ASC LIMIT ?", (limit,))
    ordered_subtable = c.fetchall()
    conn.commit()
    conn.close()
    return ordered_subtable

In [12]:
get_subtable_oldered_by_salary('nba_salary', 'NBA_season1718_salary', 10)

[(573.0, 'Jarell Eddie', 'CHI', 17224.0),
 (572.0, 'Joel Bolomboy', 'MIL', 22248.0),
 (568.0, 'Axel Toupane', 'NOP', 25000.0),
 (569.0, 'Quinn Cook', 'NOP', 25000.0),
 (570.0, 'Chris Johnson', 'HOU', 25000.0),
 (571.0, 'Beno Udrih', 'DET', 25000.0),
 (567.0, 'DeAndre Liggins', 'ATL', 26773.0),
 (560.0, 'Nigel Hayes', 'LAL', 46080.0),
 (561.0, 'Nigel Hayes', 'TOR', 46080.0),
 (562.0, 'Rodney Purvis', 'ORL', 46080.0)]

Show rows in ordered structure with limit and shifted by offset.

In [13]:
def get_subtable_oldered_by_salary2(db_name, table, limit, offset):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT * FROM {table} ORDER BY season17_18 ASC LIMIT ? OFFSET ?", (limit, offset))
    ordered_subtable = c.fetchall()
    conn.commit()
    conn.close()
    return ordered_subtable

In [14]:
get_subtable_oldered_by_salary2('nba_salary', 'NBA_season1718_salary', 10, 5)

[(571.0, 'Beno Udrih', 'DET', 25000.0),
 (567.0, 'DeAndre Liggins', 'ATL', 26773.0),
 (560.0, 'Nigel Hayes', 'LAL', 46080.0),
 (561.0, 'Nigel Hayes', 'TOR', 46080.0),
 (562.0, 'Rodney Purvis', 'ORL', 46080.0),
 (563.0, 'Xavier Rathan-Mayes', 'MEM', 46080.0),
 (564.0, 'Trey McKinney-Jones', 'IND', 46080.0),
 (565.0, 'Jameel Warney', 'DAL', 46080.0),
 (566.0, 'Marcus Thornton', 'CLE', 46080.0),
 (534.0, 'Tyler Cavanaugh', 'ATL', 50000.0)]

Show average team salary.

In [15]:
def get_avg_team_salary(db_name, table):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT Tm, AVG(season17_18)  FROM {table} GROUP BY Tm") # COUNT(), MAX(), MIN(), SUM(), AVG()
    table = c.fetchall()
    conn.commit()
    conn.close()
    return table

In [16]:
get_avg_team_salary('nba_salary', 'NBA_season1718_salary')

[('ATL', 3711770.2592592593),
 ('BOS', 6765291.882352941),
 ('BRK', 5335542.888888889),
 ('CHI', 3726043.4166666665),
 ('CHO', 8373440.285714285),
 ('CLE', 9806324.92857143),
 ('DAL', 3900970.9545454546),
 ('DEN', 6743068.6875),
 ('DET', 6004305.25),
 ('GSW', 8593427.8125),
 ('HOU', 5410185.5),
 ('IND', 4969989.0),
 ('LAC', 5945358.15),
 ('LAL', 4788884.090909091),
 ('MEM', 5505203.05),
 ('MIA', 7290145.777777778),
 ('MIL', 5485741.7272727275),
 ('MIN', 7341784.625),
 ('NOP', 5701217.666666667),
 ('NYK', 5135971.666666667),
 ('OKC', 8952937.066666666),
 ('ORL', 5701526.705882353),
 ('PHI', 5039713.9),
 ('PHO', 4515158.714285715),
 ('POR', 6268890.736842105),
 ('SAC', 4781376.4),
 ('SAS', 6832562.0),
 ('TOR', 6854635.05882353),
 ('UTA', 5373250.7),
 ('WAS', 6898880.111111111)]

Show average salary for Boston players using Having.

In [17]:
def get_avg_boston_salary(db_name, table):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT Tm, AVG(season17_18)  FROM {table} GROUP BY Tm HAVING Tm = ?", ('BOS',))
    avg = c.fetchall()
    conn.commit()
    conn.close()
    return avg

In [18]:
get_avg_boston_salary('nba_salary', 'NBA_season1718_salary')

[('BOS', 6765291.882352941)]

Show distinct table.

In [19]:
def get_boston_salaries(db_name, table):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT season17_18 FROM {table} WHERE Tm = ?", ('BOS',))
    salaries = c.fetchall()
    conn.commit()
    conn.close()
    return salaries

In [20]:
get_boston_salaries('nba_salary', 'NBA_season1718_salary')

[(29727900.0,),
 (27734405.0,),
 (18868625.0,),
 (5645400.0,),
 (5000000.0,),
 (5000000.0,),
 (4956480.0,),
 (4538020.0,),
 (4328000.0,),
 (2247480.0,),
 (1988520.0,),
 (1524305.0,),
 (1291892.0,),
 (1167333.0,),
 (815615.0,),
 (92858.0,),
 (83129.0,)]

In [21]:
def get_unique_boston_salaries(db_name, table):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT DISTINCT season17_18 FROM {table} WHERE Tm = ?", ('BOS',))
    u_salaries = c.fetchall()
    conn.commit()
    conn.close()
    return u_salaries

In [22]:
get_unique_boston_salaries('nba_salary', 'NBA_season1718_salary')

[(29727900.0,),
 (27734405.0,),
 (18868625.0,),
 (5645400.0,),
 (5000000.0,),
 (4956480.0,),
 (4538020.0,),
 (4328000.0,),
 (2247480.0,),
 (1988520.0,),
 (1524305.0,),
 (1291892.0,),
 (1167333.0,),
 (815615.0,),
 (92858.0,),
 (83129.0,)]

Show rows in salary range.

In [23]:
def get_table_salary_range(db_name, table, low, high):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT * FROM {table} WHERE season17_18 BETWEEN ? and ?", (low, high))
    table = c.fetchall()
    conn.commit()
    conn.close()
    return table

In [25]:
get_table_salary_range('nba_salary', 'NBA_season1718_salary', 1000000, 50000000)[:10]

[(1.0, 'Stephen Curry', 'GSW', 34682550.0),
 (2.0, 'LeBron James', 'CLE', 33285709.0),
 (3.0, 'Paul Millsap', 'DEN', 31269231.0),
 (4.0, 'Gordon Hayward', 'BOS', 29727900.0),
 (5.0, 'Blake Griffin', 'DET', 29512900.0),
 (6.0, 'Kyle Lowry', 'TOR', 28703704.0),
 (7.0, 'Russell Westbrook', 'OKC', 28530608.0),
 (8.0, 'Mike Conley', 'MEM', 28530608.0),
 (9.0, 'James Harden', 'HOU', 28299399.0),
 (10.0, 'DeMar DeRozan', 'TOR', 27739975.0)]

Show rows where salary match the list.

In [26]:
salary_list = [1000000, 2000000]

In [27]:
def get_table_for_salary_list(db_name, table, s_list):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    values_no = ('?, '*len(s_list))[:-2]
    c.execute(f"SELECT * FROM {table} WHERE season17_18 IN ({values_no})", (s_list))
    table = c.fetchall()
    conn.commit()
    conn.close()
    return table

In [28]:
get_table_for_salary_list('nba_salary', 'NBA_season1718_salary', salary_list)

[(331.0, 'Tim Frazier', 'WAS', 2000000.0),
 (332.0, 'Anthony Tolliver', 'SAC', 2000000.0),
 (452.0, 'Justin Hamilton', 'TOR', 1000000.0),
 (453.0, 'Gerald Henderson', 'PHI', 1000000.0)]

Show rows based on salary pattern (e.g. all 8 figures salaries).

In [29]:
def get_table_for_salary_pattern(db_name, table, pattern):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT * FROM {table} WHERE season17_18 LIKE '{pattern}'")
    table = c.fetchall()
    conn.commit()
    conn.close()
    return table

In [30]:
# pat = '%'  # '%' wildcard
# pat = '1%'
# pat = '%000%'
# pat = '_'*10 # '_' eq one char
# pat = '1'+'_'*8
pat = '%000__'

In [32]:
get_table_for_salary_pattern('nba_salary', 'NBA_season1718_salary', pat)[:10]

[(16.0, 'Kevin Durant', 'GSW', 25000000.0),
 (24.0, 'Dwight Howard', 'CHO', 23500000.0),
 (27.0, 'J.J. Redick', 'PHI', 23000000.0),
 (37.0, 'Victor Oladipo', 'IND', 21000000.0),
 (41.0, 'George Hill', 'CLE', 20000000.0),
 (46.0, 'Jeff Teague', 'MIN', 19000000.0),
 (54.0, 'Joakim Noah', 'NYK', 17765000.0),
 (56.0, 'Luol Deng', 'LAL', 17190000.0),
 (59.0, 'Evan Fournier', 'ORL', 17000000.0),
 (60.0, 'Bismack Biyombo', 'ORL', 17000000.0)]

Show rows (if any) with nan salary value.

In [33]:
def get_rows_w_nan_salary(db_name, table):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT * FROM {table} WHERE season17_18 IS NULL")
    nan_rows = c.fetchall()
    conn.commit()
    conn.close()
    return nan_rows

In [34]:
get_rows_w_nan_salary('nba_salary', 'NBA_season1718_salary')

[]

Let's add new column to the NBA_season1718_salary table and fill it out based on column from Seasons_Stats

In [36]:
# hidden because of too long output
# get_table('nba_salary', 'Seasons_Stats')

In [37]:
get_columns('nba_salary', 'Seasons_Stats')

['X1',
 'Year',
 'Player',
 'Pos',
 'Age',
 'Tm',
 'G',
 'GS',
 'MP',
 'PER',
 'TS%',
 '3PAr',
 'FTr',
 'ORB%',
 'DRB%',
 'TRB%',
 'AST%',
 'STL%',
 'BLK%',
 'TOV%',
 'USG%',
 'blanl',
 'OWS',
 'DWS',
 'WS',
 'WS/48',
 'blank2',
 'OBPM',
 'DBPM',
 'BPM',
 'VORP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 '2P',
 '2PA',
 '2P%',
 'eFG%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

Add column to the NBA_season1718_salary table.

In [38]:
def add_column(db_name, table, column):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"ALTER TABLE {table} ADD {column} INT")
    conn.commit()
    conn.close()

In [39]:
add_column('nba_salary', 'NBA_season1718_salary', 'Age')

In [40]:
get_columns('nba_salary', 'NBA_season1718_salary')

['X1', 'Player', 'Tm', 'season17_18', 'Age']

Updating the NBA_season1718_salary table with Seasons_Stats data based on Player column.

In [41]:
def join_column_to_table(db_name, table, table2, column):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f'SELECT Player, {column} FROM {table2}')
    t = c.fetchall()
    ply_age = dict(t)
    for k, v in ply_age.items():
        c.execute(f"UPDATE {table} SET {column} = ? WHERE Player = ?", (v, k))
    conn.commit()
    conn.close()

In [108]:
#sqlite3 (3.33+)
#     c.execute(f"""UPDATE {table}
#               SET {table}.Age = {table2}.Age
#               FROM {table2}
#               WHERE {table2}.Player = {table}.Player""")
#sqlite3 (3.33+) v2
#     c.execute(f"""UPDATE {table}
#               SET {table}.{column} = {table2}.{column}
#               FROM (SELECT Player, {column} FROM {table2}) AS t2
#               WHERE t2.Player = {table}.Player""")
#Mysql
#     c.execute(f"""UPDATE {table} JOIN
#               (SELECT Player, {column} FROM {table2}) AS t2
#               USING(Player) 
#               SET {table}.{column} = t2.{column}""")
#Mysql    
#         c.execute(f"""UPDATE {table} AS t1 
#               INNER JOIN {table2} AS t2 
#               ON (t1.Player = t2.Player) 
#               SET (t1.Age = t2.Age)""")

In [42]:
join_column_to_table('nba_salary', 'NBA_season1718_salary', 'Seasons_Stats', 'Age')

Verify whether the Age column is updated.

In [44]:
get_table('nba_salary', 'NBA_season1718_salary')[:10]

[(1.0, 'Stephen Curry', 'GSW', 34682550.0, 28),
 (2.0, 'LeBron James', 'CLE', 33285709.0, 32),
 (3.0, 'Paul Millsap', 'DEN', 31269231.0, 31),
 (4.0, 'Gordon Hayward', 'BOS', 29727900.0, 26),
 (5.0, 'Blake Griffin', 'DET', 29512900.0, 27),
 (6.0, 'Kyle Lowry', 'TOR', 28703704.0, 30),
 (7.0, 'Russell Westbrook', 'OKC', 28530608.0, 28),
 (8.0, 'Mike Conley', 'MEM', 28530608.0, 29),
 (9.0, 'James Harden', 'HOU', 28299399.0, 27),
 (10.0, 'DeMar DeRozan', 'TOR', 27739975.0, 27)]

Show rows with nan values in particular column.

In [45]:
def get_rows_w_nan_column(db_name, table, column):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT * FROM {table} WHERE {column} IS NULL")
    table = c.fetchall()
    conn.commit()
    conn.close()
    return table

In [47]:
get_rows_w_nan_column('nba_salary', 'NBA_season1718_salary', 'Age')[:10]

[(131.0, 'Bogdan Bogdanovic', 'SAC', 9470614.0, None),
 (157.0, 'Markelle Fultz', 'PHI', 7026240.0, None),
 (169.0, 'Lonzo Ball', 'LAL', 6286560.0, None),
 (173.0, 'Ben Simmons', 'PHI', 6168840.0, None),
 (180.0, 'Milos Teodosic', 'LAC', 6000000.0, None),
 (186.0, 'Jayson Tatum', 'BOS', 5645400.0, None),
 (199.0, 'Josh Jackson', 'PHO', 5090040.0, None),
 (211.0, "De'Aaron Fox", 'SAC', 4609200.0, None),
 (221.0, 'Jonathan Isaac', 'ORL', 4186320.0, None),
 (231.0, 'Lauri Markkanen', 'CHI', 3821640.0, None)]

Add new Player to the NBA_season1718_salary table.

In [48]:
def add_new_player(db_name, table, player_name, team, salary, age):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    index = get_last_index(db_name, table)
    c.execute(f"INSERT INTO {table} VALUES (?, ?, ?, ?, ?)", (index, player_name, team, salary, age))
    conn.commit()
    conn.close()

In [49]:
def get_last_index(db_name, table):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT X1 FROM {table}")
    index = c.fetchall()[-1][0]
    conn.commit()
    conn.close()
    return index

In [50]:
add_new_player('nba_salary', 'NBA_season1718_salary', 'John Johnson', 'DreamTeam', '1', '42')

Verify the result.

In [51]:
def get_player(db_name, table, player):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"SELECT * FROM {table} WHERE Player = ?", (player,))
    player = c.fetchall()
    conn.commit()
    conn.close()
    return player

In [52]:
get_player('nba_salary', 'NBA_season1718_salary', 'John Johnson')

[(573.0, 'John Johnson', 'DreamTeam', 1.0, 42)]

Delete the player form the table.

In [53]:
def delete_player(db_name, table, player):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"DELETE FROM {table} WHERE Player = ?", (player,))
    conn.commit()
    conn.close()

In [54]:
delete_player('nba_salary', 'NBA_season1718_salary', 'John Johnson')

Verify the result.

In [55]:
get_player('nba_salary', 'NBA_season1718_salary', 'John Johnson')

[]

Delete whole column.

In [56]:
def delete_column(db_name, table, column):
    conn = sqlite3.connect(f'DB/{db_name}.sqlite')
    c = conn.cursor()
    c.execute(f"ALTER TABLE {table} DROP COLUMN {column}")
    conn.commit()
    conn.close()

In [57]:
delete_column('nba_salary', 'NBA_season1718_salary', 'Age')

Verify the result.

In [58]:
get_columns('nba_salary', 'NBA_season1718_salary')

['X1', 'Player', 'Tm', 'season17_18']